# UI
streamlit==1.33.0

# LangChain
langchain==0.2.12
langchain-aws==0.1.16

# AWS SDK
boto3==1.34.131
botocore==1.34.131

# Utilities
pydantic==2.7.4
typing-extensions>=4.12.2

# Tokenizer dependency (IMPORTANT)
transformers==4.41.2

# Optional
python-dotenv==1.0.1